#step-html .lt_table2 tr:not(.grp) {
    display: none;
}

#step-html .lt_table2 tr.grp {
    cursor: pointer;
}

#step-html .lt_table2 tr.grp > td {
    text-align: left;
}

/*#step-html .lt_table2 tr.grp > td {
    background-color: #fff !important;
    border-bottom: 2px solid #eee;
}*/